@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Lato", serif;
}

.container {
  max-width: 1519px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flexs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-colm {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 25px;
}

.gap1 {
  gap: 14px;
}

.nav {
  background-image: url("./svg/Rectangle 4.png");
  background-position: center;
  background-repeat: no-repeat;
}

.cont {
  height: 100px;
}

.menu ul li a {
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.btne button {
  width: 234px;
  height: 60px;
  border-radius: 80px;
  background-color: #B25A59;
  border: none;
  font-weight: 500;
  font-size: 15px;
  color: white;
}

.cont1 {
  margin-top: 60px;
}
.cont1 .head-info {
  width: 50%;
}
.cont1 .head-info h1 {
  font-family: "Nunito Sans", serif;
  font-weight: 700;
  font-size: 46px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.cont1 .head-info h1 span {
  color: #7F2736;
}
.cont1 .head-info p {
  padding-right: 60px;
  font-weight: 400;
  font-size: 20px;
  color: #464646;
  padding-bottom: 20px;
}
.cont1 .btr {
  padding-bottom: 200px;
}
.cont1 .btr button {
  width: 234px;
  height: 60px;
  border-radius: 80px;
  background-color: #B25A59;
  border: none;
  font-weight: 500;
  font-size: 15px;
  color: white;
}
.cont1 .btr .ahh {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 23px;
  color: #23BDEE;
}
.cont1 .btr span {
  font-weight: 400;
  font-size: 15px;
}

.head-img img {
  position: relative;
  top: -100px;
  left: 100px;
}

.info {
  margin-top: 80px;
}
.info h1 {
  font-family: "Nunito Sans", serif;
  font-weight: 700;
  font-size: 46px;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.info h1 span {
  color: #7F2736;
}
.info p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px;
  padding-left: 200px;
  padding-right: 200px;
  letter-spacing: 3px;
}

i {
  font-weight: 500;
  font-size: 30px;
}

.kok p {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #7F2736;
}
.kok .s {
  padding-top: 25px;
}

.sem {
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  border-radius: 20px;
  background-image: url("./svg/ping.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #B25A59;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.sem p {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: white;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.sem button {
  width: 213px;
  height: 60px;
  border-radius: 80px;
  background-color: none;
  background: none;
  border: 1px solid white;
  font-weight: 500;
  font-size: 22px;
  color: white;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.okesent {
  margin-bottom: 30px;
}

@media (max-width: 1410px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  .head-img img {
    width: 600px;
    left: -10px;
  }
}
@media (max-width: 1410px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 1145px) {
  .nav {
    background: #F0C53E;
  }
  .cont1 {
    flex-direction: column;
    justify-content: center;
  }
  .btr {
    padding-bottom: 1px !important;
  }
  .head-img img {
    width: 600px;
    left: -10px;
    top: -10px;
  }
  .soon {
    flex-direction: column;
  }
  .soon i {
    display: none !important;
  }
}
@media (max-width: 1145px) {
  .info h1 {
    font-size: 35px;
  }
  .info p {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btr {
    flex-direction: column;
  }
  .cont {
    flex-direction: column;
    gap: 40px;
  }
  .btne {
    display: none !important;
  }
  .cont1 .head-info h1 {
    font-size: 35px;
    text-align: center;
  }
  .cont1 .head-info p {
    text-align: center;
    padding-right: 1px;
  }
  .okesent {
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .head-img img {
    width: 400px;
    left: -10px;
  }
  .info h1 {
    font-size: 25px;
  }
  .info p {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 520px) {
  .btr .osh {
    display: none !important;
  }
  .cont1 .head-info h1, p {
    font-size: 25px;
    text-align: center;
  }
  .okesent .sem {
    width: 350px;
    height: 260px;
  }
}
@media (max-width: 399px) {
  .menu {
    display: none !important;
  }
  .cont1 .head-info h1 {
    font-size: 18px;
    text-align: center;
  }
  .cont1 {
    margin-top: 1px !important;
  }
  .cont1 .head-info p {
    font-size: 15px;
    text-align: center;
  }
  .okesent .sem {
    width: 350px;
    height: 260px;
  }
  .info {
    margin-top: 1px;
  }
  .info p {
    font-size: 9px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .info h1 {
    font-size: 16px;
  }
  .head-img img {
    width: 308px !important;
    left: 0 !important;
  }
  .okesent .sem {
    width: 300px;
    height: 240px;
  }
}/*# sourceMappingURL=main.css.map */